# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Scrapy
# =========================
.scrapy/

# =========================
# Testing
# =========================
.pytest_cache/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# Database Files
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# CSV Outputs
# =========================
*.csv
*.csv
!data/products.csv

# =========================
# Generated Data
# =========================
data/results.csv

# =========================
# Archive Folder
# =========================
archive/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# PostgreSQL Dumps
# =========================
*.sql